<div class="ui raised padded blue secondary small segment container">
  <div class="ui segment small container minimal comments">

    <% @messages.each do |message|  %>
      <%= render "chatroom/messages/my_message", message: message %>
      <%= render "chatroom/messages/message", message: message %>
    <% end %>

  </div>

  <%= form_with scope: :message, url: messsage_path, role: "form", class: "ui form items" do |f| %>
    <div class="field item">
      <%= f.text_field :body, placeholder: "Enter your message..." %>
      <%= f.submit "Send", class: "ui right floated blue button" %>
    </div>
  <% end %>

</div>
