<div class="ui raised padded blue secondary small segment container">

  <h2 class="ui header center aligned">
    <span class="content">Chatroom</span>
    <div class="sub header">Stay connected with your loved ones</div>
  </h2>

  <%= turbo_stream_from "chatroom_channel" %>

  <div class="ui segment container minimal comments" style="overflow-y: scroll; height: 32vh; max-height: 64vh" data-controller="chat" >
    <%= turbo_frame_tag "chat" do %>
      <%= render "chat_placeholder" %>
      <% if logged_in? %>
        <% @messages.each do |message| %>
          <%= render "message", message: message %>
        <% end %>
      <% else %>
        <%= render "chat_placeholder" %>
      <% end %>

    <% end %>
  </div>

  <%= form_with scope: :message, role: "form", class: "ui form items",
      data: { controller: "new-message", action: "turbo:submit-end->new-message#reset" },
      url: message_path do |form|
  %>
    <div class="field ui grid container">
      <%= form.text_field :body, placeholder: "Enter your message...", class: "thirteen wide column" %>
      <%= form.submit "Send", class: "three wide column blue button fluid right floated ui" %>
    </div>
  <% end %>

</div>
