<nav class="ui borderless inverted huge menu">
  <div class="ui container">
    <%= link_to "Chatroom", root_path, class: "item" %>
    <%= link_to "Messages", root_path, class: "item" %>

    <div class="right menu">

      <div class="item">
        <div class="ui primary">
          <% if logged_in? %>
            <%= link_to raw("<i class=\"alternative sign in icon\"></i>Log out"), login_path, data: { "turbo-method": :delete }, class: "ui primary button" %>
          <% else %>
            <%= link_to raw("<i class=\"alternative sign in icon\"></i>Log in"), login_path, class: "ui primary button" %>
          <% end %>
        </div>
      </div>

      <% if logged_in? %>
          <div class="item dropdown ui primary button">
            <span class="text">Account</span>

            <i class="dropdown icon"></i>


            <div class="menu">
              <%= link_to "Change password", sign_up_path, class: "ui link item" %>
            </div>
          </div>

      <% end %>

    </div>

  </div>
</nav>
